<%= form_for(blogger) do |f| %>
  <% if blogger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogger.errors.count, "error") %> prohibited this blogger from being saved:</h2>

      <ul>
      <% blogger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :days %>
    <%= f.text_field :days %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
