<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_blogger_comment_path(@comment.blogger, @comment) %> |
<%= link_to 'Back', blogger_comments_path(@comment.blogger) %>
